
@{
    ViewBag.Title = "CreateMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Mesaj Ekleme Sayfası</h2>
<form method="post">
    <label>Mesaj Adı</label>
    <input type="text" class="form-control" name="MesTitle" style="border:groove" />
    <br />
    <button class="btn btn-info">Mesajı Ekle</button>
</form>

