@model List<AcunmedyaAkademiPortfolyo.Models.TableSkillD>
@{
    ViewBag.Title = "SkillList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yeteneklerim</h3>

<table class="table table-bordered">


    <tr>
        <th>Yetenek Id</th>
        <th>Yetenek Adı</th>
        <th>Yetenek Değeri</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.Skilld</td>
            <td>@item.SkillTitle</td>
            <td>@item.SkillValue</td>
            <td><a href="/Skill/DeleteSkill/@item.Skilld" class="btn btn-danger">Sil</a></td>
            <td><a href="/Skill/UpdateSkill/@item.Skilld" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Skill/CreateSkill/" class="btn btn-primary">Yeni Yetenek Girişi</a>

