@model AcunmedyaAkademiPortfolyo.Models.TableSkillD
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeteneklerim Güncelleme Sayfası</h2>
<form method="post">
    <label>Yeteneklerim Id</label>
    @Html.TextBoxFor(x => x.Skilld, new { @class = "form-control" })
    <br />
    <label>Yeteneklerim Adı</label>
    @Html.TextBoxFor(x => x.SkillTitle, new { @class = "form-control" })
    <br />
    <label>Yeteneklerim Değeri</label>
    @Html.TextBoxFor(x => x.SkillValue, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Yeteneği Güncelle</button>
</form>

