@model AcunmedyaAkademiPortfolyo.Models.TblExperience
@{
    ViewBag.Title = "UpdateExperience";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Deneyim Güncelleme Sayfası</h2>
<form method="post">
    <label>Deneyim Id</label>
    @Html.TextBoxFor(x => x.Experienceld, new { @class = "form-control" })
    <br />
    <label>Deneyim Adı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Deneyim Zamanı</label>
    @Html.TextBoxFor(x => x.Period, new { @class = "form-control" })
    <br />
    <label>Deneyim Açıklaması</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Deneyimi Güncelle</button>
</form>

