@model List<AcunmedyaAkademiPortfolyo.Models.TblMessage>



<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>İletişim</h2>
        <p>Daha detaylı bilgi almak için bizimle iletişime geçin lütfen.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row gy-4">
            <div class="col-lg-4">

                @foreach (var item in Model)
                {


                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                        <i class="@item.MesIcon flex-shrink-0"></i>
                        <div>
                            <h3>@item.MesTitle</h3>
                            <p>@item.MesDescription</p>
                        </div>
                    </div><!-- End Info Item -->
                }

            </div>

            <div class="col-lg-8">
                <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="İsim-Soyisim" required="">
                        </div>

                        <div class="col-md-6 ">
                            <input type="email" class="form-control" name="email" placeholder="Mail" required="">
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control" name="subject" placeholder="Konu" required="">
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="message" rows="6" placeholder="Mesaj" required=""></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Mesajın gönderildi,teşekkürler:)</div>

                            <button type="submit">Mesajı Gönder</button>
                        </div>

                    </div>
                </form>
            </div><!-- End Contact Form -->

        </div>

    </div>

</section>