
@{
    ViewBag.Title = "CreateServices";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Hizmet Ekleme Sayfası</h2>
<form method="post">
    <label>Hizmet Adı</label>
    <input type="text" class="form-control" name="ServiceTitle" style="border:groove" />
    <br />
    <button class="btn btn-info">Hizmet Ekle</button>
</form>

