
@{
    ViewBag.Title = "CreateStatistic";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni İstatistik Ekleme Sayfası</h2>
<form method="post">
    <label>İstatistik Adı</label>
    <input type="text" class="form-control" name="StatsName" style="border:groove" />
    <br />
    <button class="btn btn-info">İstatistiği Ekle</button>
</form>


