
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Proje Ekleme Sayfası</h2>
<form method="post">
    <label>Proje Adı</label>
    <input type="text" class="form-control" name="ProjectTitle" style="border:groove" />
    <br />
    <button class="btn btn-info">Projeyi Ekle</button>
</form>

