
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Bilgi Ekleme Sayfası</h2>
<form method="post">
    <label>Bilgi Adı</label>
    <input type="text" class="form-control" name="AboutID" style="border:groove" />
    <br />
    <button class="btn btn-info">Bilgiyi Ekle</button>
</form>

